* {
  margin: 0;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

header, footer {
  position: sticky;
  width: 100%;
  white-space: nowrap;
  padding: 0.5rem;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

main {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.neon-palette-theme-dark.neon-palette-base-mignight.neon-body-bg {
  background: #040606;
}
.neon-palette-theme-dark.neon-palette-base-mignight .neon-header-bg,
.neon-palette-theme-dark.neon-palette-base-mignight .neon-footer-bg {
  background: #020303;
}
.neon-palette-theme-dark.neon-palette-accent-sea .neon-text-common {
  color: #AAAAAA;
}
.neon-palette-theme-dark.neon-palette-accent-sea .neon-text-special {
  color: #00ADB5;
}
.neon-palette-theme-dark.neon-palette-accent-sea .neon-link-common {
  color: #AAAAAA;
}
.neon-palette-theme-dark.neon-palette-accent-sea .neon-link-common:hover {
  color: #AAAAAA;
  background: #161D1D;
}
.neon-palette-theme-dark.neon-palette-accent-sea .neon-link-special {
  color: #00ADB5;
}
.neon-palette-theme-dark.neon-palette-accent-sea .neon-link-special:hover {
  color: #00ADB5;
  background: #161D1D;
}
.neon-palette-theme-dark.neon-palette-accent-sea .neon-btn-special {
  color: #FFFFFF;
  background: #00ADB5;
  font-weight: bold;
}

.neon-nav-btn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.neon-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.neon-form input {
  text-align: center;
}
