@model GuestModel

@{
    Layout = "_Layout";
    ViewData.Set(new LayoutViewData
    {
        Title = Resource.Layout_Title_Guest
    });
}

<form method="post" class="neon-form">
    <field for="Username"/>
    <field for="RememberMe"/>
    <button type="submit" class="neon-button-accent">@Resource.User_Button_Play</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}