@model LoginModel?

@{
    Layout = "_Layout";
    ViewData.Set(new LayoutData
    {
        Title = Resource.Layout_Title_Guest,
    });
}

<form class="neon-form" method="post">
    <input asp-for="Username" placeholder="@Resource.User_Property_Username"/>
    <span asp-validation-for="Username" class="text-danger"></span>
    <input id="guest-form-secret" asp-for="Secret" hidden/>
    <button type="submit" class="neon-btn-special">@Resource.User_Button_Play</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}