@model LoginModel

@{
    Layout = "_Layout";
    ViewData.Set(new LayoutData
    {
        Title = Resource.Layout_Title_Login
    });
}

<form class="neon-form" method="post">
    <field for="Username"/>
    <field for="Password"/>
    <field for="RememberMe"/>
    <button type="submit" class="neon-btn-special">@Resource.User_Button_Play</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}