@model ModelExpression

@if (Model.Metadata.ModelType == typeof(bool))
{
    <div class="neon-form-row">
        <label asp-for-model class="neon-text-common"></label>
        <label class="neon-switch">
            <input asp-for-model type="checkbox"/>
            <span class="neon-slider"></span>
        </label>
    </div>
}
else
{
    <div class="neon-form-col">
        <input asp-for-model/>
        <span asp-validation-for-model class="text-danger"></span>
    </div>
}