@model LobbyModel

@{
    Layout = "_Layout";
    ViewData.Set(new LayoutViewData
    {
        Title = Resource.Layout_Title_Lobby,
        Resource = new Dictionary<string, string>
        {
            { "systemName", Resource.Client_Generic_SystemName },
            { "connectionLost", Resource.Client_Generic_ConnectionLost },
            { "connectedFromAnotherSource", Resource.Client_Generic_ConnectedFromAnotherSource }
        }
    });
}

<div class="neon-lobby-container">
    <div id="neon-lobby-active-users-container">
        <div class="neon-lobby-request-action-menu">
            <label class="neon-theme-front-common">
                <input type="radio" name="request-action" value="Send" checked>
                <partial name="Svg/RequestAction/Send"/>
            </label>
            <label class="neon-theme-front-common">
                <input type="radio" name="request-action" value="Respond">
                <partial name="Svg/RequestAction/Respond"/>
            </label>
            <label class="neon-theme-front-common">
                <input type="radio" name="request-action" value="Cancel">
                <partial name="Svg/RequestAction/Cancel"/>
            </label>
        </div>
        <div>
            <div id="neon-lobby-active-users"></div>
            <div id="neon-lobby-incoming-user-requests"></div>
            <div id="neon-lobby-outgoing-user-requests"></div>
        </div>
    </div>
    <div class="neon-user-equipment-container">
        <div class="neon-user-equipment">
            @for (var i = 0; i < 25; i++)
            {
                <button id="neon-user-equipment-slot-@i.ToString()" type="button" class="neon-item-slot">
                    <img src="~/img/item/empty.png" alt="Empty" asp-append-version="true"/>
                </button>
            }
        </div>
        <div class="neon-user-chat">
            <ol class="neon-user-messages">
                <li>
                    <link src="html/user-message.html" asp-append-version="true" />
                </li>
            </ol>
            <form id="neon-user-form">
                <input id="neon-user-input" class="neon-theme-back-base-3" autocomplete="off" maxlength="64"/>
            </form>
        </div>
    </div>
    <div class="neon-user-inventory-container">
        <div class="neon-user-inventory">
            @for (var i = 0; i < 100; i++)
            {
                <button id="neon-user-inventory-slot-@i.ToString()" type="button" class="neon-item-slot">
                    <img src="~/img/item/empty.png" alt="Empty" asp-append-version="true"/>
                </button>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/lobby.js" asp-append-version="true"></script>
}