@model LobbyModel

@{
    Layout = "_Layout";
    ViewData.Set(new LayoutViewData
    {
        Title = Resource.Layout_Title_Lobby,
    });
}

<div class="neon-lobby-container">
    <div class="neon-lobby-active-users-container">
        <div class="neon-lobby-active-users">
            @foreach (var activeUser in Model.ActiveUsers)
            {
                <button type="button" class="neon-button-accent" data-username="@activeUser.Username">
                    @activeUser.Username
                </button>
            }
        </div>
    </div>
    <div class="neon-user-equipment-container">
        <div class="neon-user-equipment">
            @for (var i = 0; i < 25; i++)
            {
                <button id="neon-user-equipment-slot-@i" type="button" class="neon-item-slot">
                    <img src="~/img/item/empty.png" alt="Empty" asp-append-version="true"/>
                </button>
            }
        </div>
        <div class="neon-user-chat">
            <ol class="neon-user-messages"></ol>
            <form class="neon-user-form">
                <input id="neon-user-input" class="neon-theme-back-base-3" autocomplete="off" maxlength="64"/>
            </form>
        </div>
    </div>
    <div class="neon-user-inventory-container">
        <div class="neon-user-inventory">
            @for (var i = 0; i < 100; i++)
            {
                <button id="neon-user-inventory-slot-@i" type="button" class="neon-item-slot">
                    <img src="~/img/item/empty.png" alt="Empty" asp-append-version="true"/>
                </button>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/lobby.js" asp-append-version="true"></script>
}