@model GameplayModel

@{
    Layout = "_Layout";
    ViewData.Set(new LayoutData
    {
        Title = Resource.Layout_Title_Gameplay,
    });

<div class="neon-opponent-container">
    @foreach (var opponent in Model.Opponents)
    {
        <div>
            <button>
                @opponent.Username
            </button>
        </div>
    }
</div>}

@section Scripts
{
    <script src="~/js/gameplay.js" asp-append-version="true"></script>
}