@model GameplayModel

@{
    Layout = "_Layout";
    ViewData.Set(new LayoutData
    {
        Title = Resource.Layout_Title_Gameplay,
    });
}

<div class="neon-gameplay-container">
    <div class="neon-user-opponents-container">
        <div class="neon-user-opponents">
            @foreach (var opponent in Model.Opponents)
            {
                <button class="neon-user-@opponent.Username neon-btn-special">
                    @opponent.Username
                </button>
            }
        </div>
    </div>
    <div class="neon-user-equipment-container">
        <div class="neon-user-equipment">
            @for (var i = 0; i < 25; i++)
            {
                <button id="neon-user-equipment-slot-@i" class="neon-item-slot">
                </button>
            }
        </div>
        <form class="neon-user-input">
            <input id="neon-user-message"/>
        </form>
    </div>
    <div class="neon-user-inventory-container">
        <div class="neon-user-inventory">
            @for (var i = 0; i < 100; i++)
            {
                <button id="neon-user-inventory-slot-@i" class="neon-item-slot">
                </button>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/gameplay.js" asp-append-version="true"></script>
}