.neon-form {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	width: 32ch;

	input {
		text-align: center
	}

	.neon-form-col {
		display: flex;
		flex-direction: column;
	}

	.neon-form-row {
		display: flex;
		justify-content: space-between;
	}
}
