@import "constants.scss";

$item-img-size: 64px;
$item-border-size: 12px;
$item-slot-size: $item-img-size + $item-border-size;
$item-slot-gap: 4px;

.neon-gameplay-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1ch;
}

.neon-user-opponents-container,
.neon-user-equipment-container,
.neon-user-inventory-container {
	max-height: 100%;
	display: flex;
}

.neon-user-opponents-container,
.neon-user-inventory-container {
	flex: 1;
}

.neon-user-equipment-container {
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}

.neon-user-inventory-container {
	justify-content: end;
}

.neon-user-opponents {
	min-width: fit-content;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden auto;
	scrollbar-width: thin;
	display: grid;
	grid-template-columns: repeat(auto-fit, $username-width);
	gap: $item-slot-gap;

	* {
		width: 100%;
	}
}

.neon-user-equipment,
.neon-user-inventory {
	min-width: fit-content;
	display: grid;
	grid-auto-rows: $item-slot-size;
	gap: $item-slot-gap;
}

.neon-user-equipment {
	grid-template-columns: repeat(5, $item-slot-size);
}

.neon-user-chat {
	display: flex;
	flex-direction: column;
	overflow: hidden auto;
	gap: 1px;
}

.neon-user-messages {
	padding: 0;
	margin: 0;
	overflow: hidden auto;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;

	li {
		list-style: none;
		scroll-snap-align: start;
	}

	.neon-user-message {
		--text-color: red;
		color: var(--text-color);
	}
}

.neon-user-form {
	width: 100%;

	* {
		width: 100%;
	}
}

.neon-user-inventory {
	max-height: 100%;
	padding-left: $item-slot-gap * 2;
	overflow: hidden auto;
	scrollbar-width: thin;
	grid-template-columns: repeat(5, $item-slot-size);
}

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

@property --opacity {
	syntax: "<number>";
	initial-value: 1;
	inherits: false;
}

.neon-item-slot {
	--border-color: slategray;
	--animation-spin-duration: 0s;
	--animation-spin-direction: normal;
	--animation-pulse-duration: 0s;
	--glow-z-index: -1;
	display: block;
	position: relative;
	width: $item-slot-size;
	height: $item-slot-size;
	padding: 0;
	background-color: transparent;

	&:hover {
		--glow-z-index: 1;
	}

	&::before, &::after {
		content: "";
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: repeating-conic-gradient(from var(--angle), var(--border-color) 0deg, transparent 45deg, var(--border-color) 90deg);
		opacity: var(--opacity);
		z-index: -1;
		animation: var(--animation-spin-duration) spin linear infinite var(--animation-spin-direction), var(--animation-pulse-duration) pulse linear infinite;
	}

	&::before {
		filter: blur($item-slot-gap);
		opacity: var(--opacity);
		z-index: var(--glow-z-index);
	}

	> img {
		display: block;
		line-height: 1;
		width: $item-img-size;
		height: $item-img-size;
		background-color: black;
		margin: auto;
		justify-content: center;
		align-content: center;
	}

	@keyframes spin {
		from {
			--angle: 0deg;
		}

		to {
			--angle: 360deg;
		}
	}

	@keyframes pulse {
		0% {
			--opacity: 1;
		}

		50% {
			--opacity: 0.2;
		}

		100% {
			--opacity: 1;
		}
	}
}
