$palette-dark-base-1: #020303;
$palette-dark-base-2: #040606;
$palette-dark-base-3: #070909;
$palette-dark-base-4: #090C0C;
$palette-dark-base-5: #0B0E0F;
$palette-dark-base-6: #0D1112;
$palette-dark-base-7: #0F1415;
$palette-dark-base-8: #111717;
$palette-dark-base-9: #141A1A;
$palette-dark-base-10: #161D1D;

$palette-accent-common: #AAAAAA;
$palette-accent-special: #00ADB5;

.neon-palette-theme-dark {

	&.neon-palette-base-mignight {

		&.neon-body-bg {
			background: $palette-dark-base-2;
		}

		.neon-header-bg,
		.neon-footer-bg {
			background: $palette-dark-base-1;
		}
	}

	&.neon-palette-accent-sea {

		.neon-text-common {
			color: $palette-accent-common;
		}

		.neon-text-special {
			color: $palette-accent-special;
		}

		.neon-link-common {
			color: $palette-accent-common;

			&:hover {
				color: $palette-accent-common;
				background: $palette-dark-base-10;
			}
		}

		.neon-link-special {
			color: $palette-accent-special;

			&:hover {
				color: $palette-accent-special;
				background: $palette-dark-base-10;
			}
		}
	}
}
